.animation {
    opacity: 0;
    transition: all 1.6s ease;

    &-class {
        opacity: 1;
        transition: all 0.8s ease-in-out;
    }
}

// .itro__span--surname {
//     .animation {
//         opacity: 0;
//         transform: translateX(-60px);
//         transition: all 2s ease;

//         &-class {
//             opacity: 1;
//             transform: translateX(0);
//             transition: all 1.6s ease;
//             transition-delay: 0.5s;
//         }
//     }
// }

// .portfolio__wrap {
//     .slider__list {
//         .animation {
//             &-class {
//                 opacity: 1;
//                 transition: all 0.8s ease;

//                 &:nth-child(even) {
//                     transition-delay: 0.4s;
//                 }
//             }
//         }
//     }
// }

.animation-class {
    .title {
        opacity: 1;
        transform: translateY(0px);
    }

    .subtitle {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.4s;
    }

    .itro__span--surname {
        opacity: 1;
        transform: translateX(0);
        transition: all 1.6s ease;
        transition-delay: 0.5s;
    }
}

.text-animated {
    opacity: 1;
    transform: translateY(-100px);
    transition: transform 0.8s ease-in-out;
}
