.animation {
    opacity: 0;
    transition: all 1s ease;

    &-class {
        opacity: 1;
        transition: all 0.6s ease-in-out;

        .done__item {
            &:nth-child(1) {
                transition-delay: 0.2s;
            }
            &:nth-child(2) {
                transition-delay: 0.4s;
            }
            &:nth-child(3) {
                transition-delay: 0.6s;
            }
            &:nth-child(4) {
                transition-delay: 0.8s;
            }
        }
    }

    @include mobile-468 {
        opacity: 1;
        transition: none;
    }
}

// .animation-class {
//     .title {
//         opacity: 1;
//         transform: translateY(0px);
//     }

//     .subtitle {
//         opacity: 1;
//         transform: translateY(0px);
//         transition-delay: 0.4s;
//     }

//     .itro__span--surname {
//         opacity: 1;
//         transform: translateX(0);
//         transition: all 1.6s ease;
//         transition-delay: 0.5s;
//     }
// }
