.btn-link {
    // display: flex;
    // align-items: center;
    &--green {
        @include button(75px);
        border-color: $yellowgreen;
        @include btn-after($button-gradient, $yellowgreen, 87px);
    }

    &--yellow {
        @include button(75px);
        border-color: $manz;
        @include btn-after($button-gradient, $yellowgreen, 87px);
    }

    &--white {
        @include button(55px);
        border-color: $white;
        @include btn-after($white, $white, 68px);
    }

    .btn-span {
        position: relative;
        z-index: 1;
    }
}
