.btn-link {
    // display: flex;
    // align-items: center;

    &--green,
    &--yellow {
        @include button;
        @include btn-size(85px);
        @include btn-after($button-gradient, $yellowgreen, 97px);

        @include laptopS-1024 {
            @include btn-size(75px);

            @include btn-after($button-gradient, $yellowgreen, 87px);
        }

        @include tablet-768 {
            @include btn-size(65px);
        }

        @include mobile-468 {
            @include btn-after($button-gradient, $yellowgreen, 65px);
        }
    }
    &--green {
        border-color: $yellowgreen;
    }

    &--yellow {
        border-color: $manz;
    }

    &--white {
        @include button;
        @include btn-size(65px);
        border-color: $white;
        @include btn-after($white, $white, 78px);

        @include laptopS-1024 {
            @include btn-size(45px);
            @include btn-after($button-gradient, $yellowgreen, 45px);
        }
    }

    .btn-span {
        position: relative;
        z-index: 1;
    }
}
