.slider__btn-list {
    @include list-reset;
}

.btn {
    width: 70px;

    @include outline-none;
}

.slider__btn {
    position: absolute;
    top: -5%;
    right: 6%;
    transform: translate(-50%, -50%);

    color: $white;

    @include font-style(calc(4vw + 10px), 200);

    border: none;
    background-color: transparent;
    transition: all 0.6s ease;

    // &:focus {
    //     box-shadow: $box-shadow;
    // }

    @include tablet-768 {
        top: -5%;
        font-size: calc(6vw + 10px);
    }
}

.btn--left {
    right: 26%;

    @include tablet-768 {
        left: 30%;
    }

    &::before {
        content: "\2190";
    }

    &:hover {
        right: 27%;

        @include tablet-768 {
            right: 0;
        }
    }
}

.btn--right {
    &::before {
        content: "\2192";
    }
    &:hover {
        right: 5%;

        @include tablet-768 {
            right: 20%;
        }
    }

    @include tablet-768 {
        right: 20%;
    }
}
