.slider__btn-list {
    // display: flex;

    // width: auto;
    @include list-reset;

    // @include tablet-768 {
    //     justify-content: space-around;
    // }
}

.btn {
    width: 50px;
}

.slider__btn {
    position: absolute;
    top: 7%;
    right: 6%;
    transform: translate(-50%, -50%);

    color: $white;

    @include font-style(calc(4vw + 10px), 200);

    border: none;
    background-color: transparent;
    transition: all 0.6s ease;

    // &:focus {
    //     color: $manz;
    //     outline: none;
    //     // @include gradient-text;
    // }

    @include tablet-768 {
        // position: relative;
        top: -5%;
        // left: 50%;
        font-size: calc(6vw + 10px);
    }
}

.btn--left {
    right: 26%;

    @include tablet-768 {
        left: 30%;
    }

    &::before {
        content: "\2190";
    }

    &:hover {
        right: 27%;

        @include tablet-768 {
            right: 0;
        }
    }
}

.btn--right {
    &::before {
        content: "\2192";
    }
    &:hover {
        right: 5%;

        @include tablet-768 {
            right: 20%;
        }
    }

    @include tablet-768 {
        right: 20%;
    }

    // @include tablet-768 {
    //     margin-left: 15%;
    // }
}
