.article {
    padding: 90px 0 0 100px;
    position: relative;

    @include laptopS-1024 {
        padding: 60px 0 0 50px;
    }
}

.article__background {
    position: absolute;
    top: 0;
    left: 0;
    // overflow: hidden;

    width: 100%;
    height: 100%;

    transform-origin: left center;
    // transform-origin: left center;
    transform: translate3d(0, 0, 0) scaleX(0);
    // transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &--card1 {
        background: url("../../img/portfolio/slide1.jpg") no-repeat center/cover;
    }

    &--card2 {
        background: url("../../img/portfolio/slide2.jpg") no-repeat center/cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: $waikawaGrey;
        opacity: 0.8;

        &--card1 {
            background: $slider-gradient-green;
        }
        &--card2 {
            background: $slider-gradient-black;
        }
    }
}

.article__content {
    width: 80%;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 2s ease;

    padding: 0;
    z-index: 10;

    .article__title {
        text-align: start;
        color: white;

        font-weight: 900;
        font-size: calc(1vw + 25px);

        line-height: 1.3;
        text-shadow: 5px 7px 2px rgba(0, 0, 0, 0.2);
        margin: 0;
        margin-bottom: 40px;

        @include laptopS-1024 {
            font-size: 30px;
        }
    }

    .article__subtitle {
        text-align: start;
        color: white;
        font-size: calc(0.6vw + 10px);

        margin: 0;
        margin-bottom: 20px;
        margin-left: -10%;
    }

    .btn--color {
        margin-right: -100%;

        border-color: white;
        pointer-events: auto;
        @include btn-after;

        &:hover {
            background: white;
        }

        @include laptopM-1200 {
            margin-right: -80%;
        }

        @include laptopS-1024 {
            margin-right: -65%;
        }

        @include tablet-768 {
            &::after {
                display: none;
            }

            &:hover {
                padding-right: 45px;
            }
        }
    }
}

.article__list {
    @include list-reset;
    position: absolute;
    bottom: 2%;
    right: 2%;

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include laptopS-1024 {
        width: 80%;
    }

    .article__item {
        text-transform: uppercase;
        color: $white;
        font-size: 12px;
        line-height: 1.5;
        opacity: 0;
        transform: translate3d(0, 10px, 0);
        transition: all 1s ease;

        &:after {
            content: "//";
            margin: 0 5px;
            opacity: 0.3;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.swiper-slide-active,
.swiper-slide-next {
    .article__background {
        // transform-origin: left center;

        transform: translate3d(0, 0, 0) scaleX(1);
        transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-delay: 0.1s;
        // transition: all 1s ease;
    }
}

.swiper-slide-active,
.swiper-slide-next {
    .article__content {
        opacity: 1;
        transform: translateX(0);
        transition: all 1.6s ease;
        transition-delay: 0.5s;
    }

    .article__item {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        transition-delay: 1.3s;

        &:nth-child(2) {
            transition-delay: 1.5s;
        }

        &:nth-child(3) {
            transition-delay: 1.7s;
        }
    }
}
