.slide {
    position: relative;

    &__wrap {
        padding: 100px 0;
        width: 100%;
        margin: 20px 0;

        @include tablet-768 {
            margin: 0;
            padding: 0;
        }
    }

    &__list {
        @include list-reset;
        @include tablet-768 {
            margin-bottom: 20px;
        }
    }

    &__item {
        overflow: hidden;
        background-color: $waikawaGrey;
    }

    .swiper-slide {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 0.3;
        transition: all 0.6s ease;
    }

    .swiper-slide-active {
        z-index: 1;
        opacity: 1;
        transform: scale(1.4) translate3d(0, 0, 0);
        transition: all 0.6s ease;

        @include tablet-768 {
            transform: scale(1) translate3d(0, 0, 0);
        }
    }
}

.slide__dots {
    z-index: 5;

    text-align: center;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;

        border: 1px solid $white;
        background-color: $nero;
    }
    .swiper-pagination-bullet-active {
        border: 1px solid $yellowgreen;
        background-color: $yellowgreen;
    }
}

.slide__btn-list {
    @include list-reset;

    @include tablet-768 {
        display: none;
    }

    .slide__arrow {
        z-index: 3;
        position: absolute;
        top: 45%;

        width: 60px;
        height: 60px;

        cursor: pointer;
        border: none;

        color: #e4ebee;
        font-size: calc(3vw + 10px);
        font-weight: 200;

        border: none;
        background-color: transparent;
        transition: all 0.6s ease;

        &:focus {
            outline: none;
        }
    }
    .arrow-next {
        right: 20%;

        &::before {
            content: "\2192";
        }
        &:hover {
            right: 19%;
        }
    }
    .arrow-prev {
        left: 20%;

        &::before {
            content: "\2190";
        }

        &:hover {
            left: 19%;
        }
    }
}
