.link-article {
    transition: all 0.6s ease;

    &__content {
        position: relative;
        z-index: 3;
        margin: 0;
        margin: 10% 6% 20%;
        transform: translateX(-60px);
        transition: all 2s ease;

        @include tablet-768 {
            margin-bottom: 10%;
        }
    }

    .article__background {
        transform: translate3d(0, 0, 0);
        right: -20px;
        transition-duration: 1.2s;

        &--work-card1 {
            background: url("/img/work/alcomed.jpg") no-repeat center/cover;
        }

        &--work-card2 {
            background: url("/img/work/pary.jpg") no-repeat center/cover;
        }

        &--work-card3 {
            background: url("/img/work/furniprice.jpg") no-repeat center/cover;
        }
    }
    .overlay {
        opacity: 0.8;
        transform: scale(1.1) translateZ(0);
        transition-duration: 1.2s;
        &--work-card1 {
            background: linear-gradient(280deg, rgba(9, 48, 95, 0.5) 10%, rgb(1, 15, 31) 80%);
        }

        &--work-card2 {
            background: $slider-gradient-black;
        }

        &--work-card3 {
            background: linear-gradient(90deg, #242350 0%, #0d0d16 100%);
        }
    }

    .content {
        opacity: 0;
        transition: all 0.6s ease;

        &__title {
            margin: 0;
            margin-bottom: 20px;

            @include font-style(calc(1vw + 10px), 700);
            line-height: 1.5;
            font-family: "Montserrat-Alter";

            color: $yellowgreen;
            @include gradient-text;

            &:hover {
                color: $manz;
                @include gradient-text-yellow;
                transition: all 0.6s ease;
            }

            @include tablet-768 {
                font-size: calc(2.5vw + 10px);
            }
        }

        &__subtitle {
            margin: 0;
            margin-bottom: 15px;

            @include font-style(calc(0.6vw + 10px), 400);

            @include tablet-768 {
                font-size: calc(1.5vw + 10px);
                line-height: 1.3;
            }
        }

        &__date {
            @include font-style(calc(0.3vw + 10px), 500);

            @include tablet-768 {
                font-size: calc(1.5vw + 10px);
            }
        }
        .date {
            &__span {
                color: $yellowgreen;
                @include gradient-text;
            }
        }

        &__inner {
            z-index: 3;
            width: 70%;

            margin-top: 10%;
            margin-left: 30%;

            @include laptopS-1024 {
                margin-left: 10%;
                width: 90%;
            }

            @include tablet-768 {
                margin-top: 20%;
            }
        }
        &__text {
            margin: 0;
        }

        .text {
            &--font {
                @include font-style(calc(0.1vw + 10px), 400);
                line-height: 1.5;

                @include tablet-768 {
                    font-size: calc(1vw + 10px);
                    line-height: 1.3;
                }
            }
        }
    }
}

.swiper-slide-active {
    .link-article {
        &:hover {
            .overlay {
                transition-duration: 1.2s;
                opacity: 0.9;
                transition-delay: 0.1s;
            }
            .article__background {
                transform: translate3d(-20px, 0, 0);
                transition-delay: 0.1s;
            }

            .content {
                margin-left: 8%;
                margin-right: 4%;
                transition-delay: 0.1s;
            }
        }

        .content {
            transition-duration: 1.2s;
            transform: translateX(0);
            opacity: 1;
        }
    }
}
