.portfolio-intro {
    @include position-relative;

    &--padding {
        padding: 35vh 0 2vh;

        @include laptopS-1024 {
            padding: 20vh 0 2vh;
            min-height: 40vh;
        }

        @include mobile-468 {
            padding: 15vh 0 10vh;
            min-height: 30vh;
        }
    }

    &--background {
        background: $waikawaGrey;
    }

    &__overlay {
        background: linear-gradient(180deg, rgba(46, 47, 57, 0), rgb(46, 47, 57));
    }

    &__video {
        @include position-absolute;
        width: 90%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        z-index: 3;
        position: relative;
    }
}
