.done {
    position: relative;
    width: 100%;
    padding: 100px 0 100px;

    @include laptopM-1200 {
        padding: 80px 0 100px;
    }

    @include tablet-820 {
        padding-bottom: 30px;
    }

    &--bg {
        &-thesis {
            background: rgba(229, 46, 113, 1);
        }

        &-cyber {
            z-index: 3;
            background: #e0e4e7;
            box-shadow: 0 10px 10px #00000033, 0 -10px 10px #00000033;
        }

        &-donut {
            background: #03778b;
        }
    }

    &__title {
        opacity: 1;
        margin-bottom: 8%;
    }

    &__list {
        @include list-reset;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile-468 {
            padding: 5%;
        }
    }

    &__item {
        text-align: center;
        width: 23%;
        margin-right: 2%;
        margin-bottom: 7%;

        &:last-child {
            margin-right: 0;
        }

        @include tablet-768 {
            width: 45%;
            padding-top: 12%;
        }

        @include mobile-468 {
            width: 80%;
            padding-top: 14%;

            background-size: 15%;
            &::before {
                width: 40%;
                height: 2px;
            }
        }
    }

    .item {
        &__svg {
            width: 50px;
            height: 60px;
            transition: all 0.6s ease;

            &--blue {
                fill: #ffffff;
            }

            &--manz {
                fill: #289296;
            }

            &--adaptive {
                width: 60px;
                height: 60px;
            }

            &--linguistics {
                width: 60px;
                height: 60px;
            }
        }
    }

    &__text {
        margin: 0;
        color: #fff;
        font-weight: 500;
        font-size: 16px;

        &::before {
            content: "";
            background: linear-gradient(90deg, #a7c939, #d8d823);
            width: 90%;
            height: 3px;
            display: inline-block;
            vertical-align: middle;
        }

        @include mobile-468 {
            font-size: 16px;
            margin: 0 5%;
            line-height: 1.5;
            margin-bottom: 5%;
        }

        &--nero {
            color: $nero;
        }
    }
}
