.mobile {
    position: relative;

    &--padding {
        padding: 20vh 0;
    }

    &--background {
        background: linear-gradient(to bottom, #063638b7 20%, #289296 100%);
    }

    @include tablet-768 {
        padding: 10vh 0 5vh;
    }

    &__content {
        margin-bottom: 5vh;
    }

    &__title {
        margin: 0 0 20px;
    }

    &__subtitle {
        margin: 0 0 10vh;
    }
}

.mobile__image {
    text-align: center;
    margin-bottom: 15vh;
}

.image__img {
    box-shadow: 0px 0px 15px 0px #00000046;
}
