.page-intro {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding: 250px 0 150px;
    background: url(img/thesis/intro.png) no-repeat;
    background-position: 100% -10%;
    background-color: $white;

    @include laptopS-1024 {
        background-position: 130% -10%;
        background-size: 80%;
        padding: 250px 0 100px;
    }

    @include tablet-768 {
        padding: 150px 0 50px;
    }

    @include mobile-468 {
        background-position: 130% 30%;
        padding: 150px 0 0;
    }

    &__overlay {
        background: linear-gradient(to bottom, rgba(229, 46, 113, 0.5), rgba(229, 46, 113, 1));
    }

    &__title {
        z-index: 2;
        position: relative;
        margin: 0;
        margin-bottom: 80px;
        color: #fff;
        @include font-style(calc(3vw + 10px), 700);
        text-shadow: $text-shadow;
        margin-bottom: 50px;

        @include laptopS-1024 {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        z-index: 2;
        position: relative;
        margin: 0;
        margin-bottom: 50px;
        color: #fff;
        text-shadow: $text-shadow;
        line-height: 1.5;
        padding: 0 25%;

        @include tablet-768 {
            @include font-style(calc(1vw + 10px), 400);
            padding: 0 10%;
            margin-bottom: 30px;
        }

        @include mobile-468 {
            padding: 0 10%;
        }
    }
}
