.technical {
    position: relative;
    padding: 10vh 0 10vh;
    background: $razzmatazz;

    @include mobile-468 {
        padding: 2vh 0 10vh;
    }

    &__inner {
        position: relative;

        @include tablet-768 {
            display: flex;
            flex-direction: column;
        }
    }

    &__content {
        position: relative;

        @include tablet-768 {
            order: 2;
        }
    }

    &__image {
        width: 48%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        @include tablet-768 {
            display: none;
        }
    }

    &__img {
        position: absolute;

        height: 50%;
        box-shadow: $box-shadow;

        @include laptopM-1200 {
            height: 40%;
        }

        @include mobile-468 {
            display: none;
        }

        &--phone {
            top: 10%;
            right: 10%;
        }

        &--form {
            top: -10%;
            right: 55%;

            @include laptopS-1024 {
                top: 1%;
                left: 0%;
            }
        }

        &--swiper {
            height: 40%;
            bottom: 0%;
            left: 0%;

            @include laptopM-1200 {
                left: -10%;
            }

            @include laptopS-1024 {
                height: 30%;
                bottom: 10%;
            }
        }
    }
}

.image__mobile {
    display: none;

    @include tablet-768 {
        position: relative;
        margin: 0 auto;
        width: 80%;
        display: block;
        padding: 8% 0;
    }
}
