html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: calc(0.5vw + 10px);
    line-height: 1;

    color: #e4ebee;
    background-color: #1d1d1d;

    display: flex;
    // justify-content: space-between;
    flex-direction: column;
}

img {
    max-width: 100%;
    // height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}
