//color
$yellowgreen: #9acd32;
$manz: #ded849;
$nero: #2d2d2d;
// $nero: #1d1d1d;
$razzmatazz: rgba(229, 46, 113, 1);
$white: #e4ebee;
$waikawaGrey: #2e2f39;

//gradient
$gradient-yellowGreen: linear-gradient(90deg, #a7c939, #d8d823);

$button-gradient: linear-gradient(90deg, #a7c939, #d8d823);
$scroll-line: linear-gradient(#758d25, #f6fa2a);

//gradient slider
$slider-gradient-green: linear-gradient(#1a8139, #868605);
$slider-gradient-black: linear-gradient(#0c1944, $nero);
$gradient-black-and-pinck: linear-gradient(150deg, rgba(77, 3, 32, 0.9), #b8034b);
$slider-black-magenta: linear-gradient(184deg, rgb(42, 9, 82), $nero);

$intro-gradient: radial-gradient(circle, #b1afcc4d 0%, #2d2d2d 58%);
$intro-gradient-overlay: linear-gradient(180deg, #8a878700 40%, #2d2d2d 98%);
$skills-gradient: radial-gradient(circle, #3b3b3bc4 0%, #2d2d2d 35%);
$skills-gradient-overlay: linear-gradient(180deg, #87888a00 80%, #2d2d2d 100%);

$box-shadow: 0 10px 15px #00000046;
$text-shadow: 5px 7px 2px rgba(0, 0, 0, 0.2);

$transform: translateX(calc(var(--x) / -30)) translateY(calc(var(--y) / -30));
$transform-elX: translateX(calc(var(--x) / 20)) translateY(calc(var(--y) / 20));
$transform-el2: translateX(calc(var(--x) / -10)) translateY(calc(var(--y) / -10));

$outline: 1px solid $manz;

$cubic-bizie: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
$cubic-8sec: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

$intro-gradient2: radial-gradient(circle, #908ea31a 0%, #2d2d2d 48%);
