.ability {
    position: relative;
    &__list {
        z-index: 3;
        @include list-reset;
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        height: 1020px;
    }

    &__item {
        width: 20%;
        margin-left: -140px;
        position: absolute;
        top: 0;
        left: 52%;

        animation: marque-text 100s linear infinite;

        &:nth-child(2) {
            animation-delay: -90s;
        }

        &:nth-child(3) {
            animation-delay: -80s;
        }

        &:nth-child(4) {
            animation-delay: -70s;
        }
        &:nth-child(5) {
            animation-delay: -60s;
        }
        &:nth-child(6) {
            animation-delay: -50s;
        }
        &:nth-child(7) {
            animation-delay: -40s;
        }

        &:nth-child(8) {
            animation-delay: -30s;
        }

        &:nth-child(9) {
            animation-delay: -20s;
        }

        &:nth-child(10) {
            animation-delay: -10s;
        }
    }

    &__inner {
        margin-bottom: 60px;
    }

    &__text {
        margin: 0;
    }
}

.inner {
    position: relative;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 200px;
    height: 220px;

    padding: 10%;

    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s ease;

    &--border {
        box-shadow: 0px 0px 0px 2px #ded849 inset;
    }

    &--shadow {
        box-shadow: 0px 4px 35px 0px rgb(0, 0, 0);

        &:hover {
            box-shadow: 0px 0px 25px 0px #99cd3246;
        }
    }
}

.text {
    position: relative;

    &--fonts {
        font-size: 40px;
        font-weight: 700;
        font-family: "Montserrat-Alter";
    }
    &--size {
        font-size: 28px;
    }

    &--outline {
        color: transparent;
        -webkit-text-stroke: 1px $white;
    }
    &--figma {
        padding-top: 90px;
        background: url("img/icon/figma.png") no-repeat top;
    }

    &--html {
        padding-top: 90px;
        background: url("img/icon/html.png") no-repeat top;
    }

    &--css {
        padding-top: 90px;
        background: url("img/icon/css.png") no-repeat top;
    }

    &--git {
        padding-top: 90px;
        background: url("img/icon/git.png") no-repeat top;
    }

    &--mysql {
        padding-top: 90px;
        background: url("img/icon/mysq.png") no-repeat top;
    }
}
