.education {
    position: relative;
    padding: 10vh 0 35vh;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include laptopM-1200 {
        padding: 5vh 0 15vh;
    }

    @include tablet-820 {
        padding-bottom: 5vh;
    }

    @include tablet-768 {
        flex-direction: column;
        padding: 50px 0 50px;
    }

    &__image {
        @include tablet-768 {
            margin-bottom: 80px;
        }

        @include mobile-468 {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 46%;
        @include position-absolute;

        box-shadow: 0 12px 35px #000000;

        @include laptopM-1200 {
            width: 56%;
            left: -12%;
        }

        @include tablet-768 {
            box-shadow: none;
            position: relative;
            height: 55vw;
            width: 100%;
            left: 0;
        }
    }

    &__big-title {
        z-index: -1;
        top: -10%;

        @include tablet-768 {
            top: 0;
        }
    }
}

.ed-article {
    width: 48%;

    @include tablet-768 {
        width: 85%;
        margin: 0 auto;
        padding: 0 15px;
    }

    @include mobile-468 {
        width: 100%;
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 10vh;
        @include laptopS-1024 {
            margin-bottom: 5vh;
        }
    }

    &__list-text {
        @include list-reset;
        margin-bottom: 10vh;
        width: 80%;

        @include laptopS-1024 {
            margin-bottom: 5vh;
        }

        @include tablet-768 {
            width: 100%;
            font-size: calc(1vw + 10px);
            margin-left: 7%;
        }

        @include mobile-468 {
            margin-left: 0;
        }
    }

    &__item-text {
        margin-bottom: 20px;

        &:nth-child(2n) {
            @include gradient-text;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        margin: 0;
        line-height: 1.5;
    }

    &__list-img {
        @include list-reset;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet-768 {
            width: 100%;
        }
    }

    &__item-img {
        z-index: 5;
        width: 45%;
        box-shadow: 0 10px 35px #000000;
        margin-bottom: 20px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        @include mobile-468 {
            box-shadow: none;
        }
    }
}
