.education {
    position: relative;
    padding: 15vh 0 55vh;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include laptopM-1440 {
        padding-bottom: 35px;
    }

    @include laptopM-1200 {
        padding: 5vh 0 15vh;
    }

    @include tablet-820 {
        padding-bottom: 5vh;
    }

    @include tablet-768 {
        flex-direction: column;
        padding: 50px 0 50px;
    }

    &__image {
        @include tablet-768 {
            margin-bottom: 80px;
        }

        @include mobile-468 {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 46%;
        @include position-absolute;

        box-shadow: 0 12px 35px #000000;

        @include laptopM-1200 {
            width: 56%;
            left: -12%;
        }

        @include tablet-768 {
            box-shadow: none;
            position: relative;
            height: 55vw;
            width: 100%;
            left: 0;
        }
    }

    &__big-title {
        top: -10%;

        @include tablet-768 {
            top: 0;
        }
    }
}

.ed-article {
    width: 48%;

    @include tablet-768 {
        width: 85%;
        margin: 0 auto;
        padding: 0 15px;
    }

    @include mobile-468 {
        width: 100%;
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 10vh;
        @include laptopS-1024 {
            margin-bottom: 5vh;
        }
    }

    &__list-text {
        @include list-reset;
        margin-bottom: 10vh;
        width: 80%;

        @include laptopS-1024 {
            margin-bottom: 5vh;
        }

        @include tablet-768 {
            width: 100%;
            font-size: calc(1vw + 10px);
            margin-left: 7%;
        }

        @include mobile-468 {
            margin-left: 0;
        }
    }

    &__item-text {
        margin-bottom: 20px;

        &:nth-child(2n) {
            @include gradient-text;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        margin: 0;
        line-height: 1.5;
    }

    &__list-img {
        @include list-reset;
        position: relative;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet-768 {
            width: 100%;
            margin: 0 0 20% 0;
        }

        @include mobile-468 {
            margin: 0 0 40% 0;
        }
    }

    &__item-img {
        width: 40%;
        margin-bottom: 20px;
        position: relative;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        @include mobile-468 {
            box-shadow: none;
        }
    }

    &__img {
        top: 0;
        left: 0;
        position: absolute;
        transition: all 0.6s ease;
        cursor: zoom-in;
        box-shadow: 0 10px 35px #000000;
        transform: translate(0%, 0%) scale(1);

        @include tablet-768 {
            transform: translate(0%, 0%) scale(1);
        }
    }
}

.image-large {
    z-index: 10;
    transform: translate(-50%, -50%) scale(3.8);

    @include tablet-768 {
        transform: translate(60%, 0%) scale(2);
    }
}

.ed-article__item-img {
    &:nth-child(2) {
        .image-large {
            transform: translate(-150%, -50%) scale(3.8);

            @include tablet-768 {
                transform: translate(-50%, 0%) scale(2);
            }
        }
    }
}
