.footer {
    position: relative;
    padding: 10vh 0;

    background: url("img/footer/image.jpg") no-repeat center/cover;

    &__overlay {
        transition: all 0.6s ease;
        opacity: 1;
        background: linear-gradient(#2d2d2d 0%, #2a2f3fcc);
    }

    &__list {
        z-index: 3;
        position: relative;
        overflow: hidden;

        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 8%;
        padding: 20px 0;

        @include mobile-468 {
            flex-direction: column;
        }
    }

    &__item {
        text-align: center;
        position: relative;
        padding: 8% 5%;

        @include glass-block;

        width: 49%;
        cursor: pointer;
        transition: all 0.6s ease;

        &:hover {
            backdrop-filter: blur(0px);
            transition: all 0.6s ease;

            .footer__title {
                @include gradient-text;
                transition: all 0.6s ease;
            }
        }

        @include mobile-468 {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    &__btn {
        @include position-absolute;
        width: 100%;
        height: 100%;

        border: none;
        background: transparent;
        transition: all 0.6s ease;

        &:hover,
        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 1px 22px #ffffff80;
        }
    }

    &__link {
        @include position-absolute;
        @include outline-none;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s ease;

        &:hover,
        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 1px 22px #ffffff80;
        }
    }

    &__title {
        text-align: center;
        color: $white;
        position: relative;

        line-height: 1.5;
        margin: 0;
        @include font-style(calc(0.6vw + 10px), 500);
        transition: all 0.6s ease;
    }
}

.footer__box {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include tablet-768 {
        flex-direction: column;

        align-items: center;
    }

    .box__title {
        color: yellowgreen;
        @include gradient-text;
        @include font-style(calc(0.6vw + 10px), 500);

        margin: 0;
        margin-bottom: 40px;

        @include tablet-768 {
            margin-bottom: 20px;
            font-size: calc(1.5vw + 10px);
        }
    }
}

.contacts {
    width: 60%;
    font-style: normal;
    display: flex;
    justify-content: space-between;

    @include tablet-768 {
        margin-bottom: 60px;
        width: 100%;
    }

    &__wrap {
        width: 48%;
    }

    &__list {
        @include list-reset;
    }

    &__item {
        line-height: 1.5;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @include tablet-768 {
            margin-bottom: 25px;
        }
    }

    &__link {
        padding: 5px;
        @include outline-none;

        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);
        transition: all 0.6s ease;
        &:hover {
            color: rgba(228, 235, 238, 1);
            text-shadow: $text-shadow;
        }

        @include tablet-768 {
            font-size: calc(1.5vw + 10px);
        }
    }

    &__address {
        margin: 0;
        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);

        @include tablet-768 {
            font-size: calc(1.5vw + 10px);
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    &__list {
        @include list-reset;
    }

    &__item {
        line-height: 1.5;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link--footer {
        padding: 5px;
        @include outline-none;

        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);
        transition: all 0.6s ease;

        &:hover {
            color: rgba(228, 235, 238, 1);
            text-shadow: $text-shadow;
        }

        @include tablet-768 {
            margin-bottom: 20px;
            font-size: calc(1.5vw + 10px);
        }
    }
}

.footer__small {
    margin: 20vh 0 0;
    z-index: 3;
    text-align: center;
    display: flex;
    position: relative;

    justify-content: center;
    flex-direction: column;

    .footer__name {
        color: $manz;
        @include gradient-text;
        @include font-style(calc(1.5vw + 10px), 500);

        margin-bottom: 2%;
    }

    .footer__age {
        @include font-style(calc(1vw + 10px), 500);
    }
}
