.footer {
    position: relative;
    padding: 10vh 0;

    background: url("img/footer/image.jpg") no-repeat center/cover;

    &__overlay {
        transition: all 0.6s ease;
        opacity: 1;
        background: linear-gradient(rgba(29, 29, 29, 1) 0%, rgba(42, 47, 63, 0.8));
    }

    &__list {
        z-index: 3;
        position: relative;
        overflow: hidden;

        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-bottom: 8%;
        padding: 0 0 20px;

        @include mobile-468 {
            flex-direction: column;
        }
    }

    &__item {
        text-align: center;
        position: relative;

        @include glass-block;

        width: 48%;
        padding: 6% 5%;
        cursor: pointer;
        transition: all 0.6s ease;

        &:hover {
            backdrop-filter: blur(0px);
            transition: all 0.6s ease;

            .footer__title {
                @include gradient-text;
                transition: all 0.6s ease;
            }
        }

        @include mobile-468 {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    &__btn {
        border: none;
        background: transparent;
    }

    &__title {
        color: $white;

        line-height: 1.5;
        @include font-style(calc(1vw + 10px), 500);
        transition: all 0.6s ease;
    }
}

.footer__box {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include mobile-468 {
        flex-direction: column;

        align-items: center;
    }

    .box__title {
        color: yellowgreen;
        @include gradient-text;
        @include font-style(calc(0.6vw + 10px), 500);

        margin: 0;
        margin-bottom: 40px;

        @include mobile-468 {
            margin-bottom: 20px;
            font-size: calc(1.5vw + 10px);
        }
    }
}

.contacts {
    width: 60%;
    font-style: normal;
    display: flex;
    justify-content: space-between;

    @include mobile-468 {
        margin-bottom: 60px;
        width: 100%;
    }

    &__wrap {
        width: 48%;
    }

    &__list {
        @include list-reset;
    }

    &__item {
        line-height: 1.5;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @include mobile-468 {
            margin-bottom: 25px;
        }
    }

    &__link {
        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);
        transition: all 0.6s ease;
        &:hover {
            color: rgba(228, 235, 238, 1);
            text-shadow: $text-shadow;
        }

        @include mobile-468 {
            font-size: calc(1.5vw + 10px);
        }
    }

    &__address {
        margin: 0;
        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);

        @include mobile-468 {
            font-size: calc(1.5vw + 10px);
        }
    }
}

.socials {
    width: 48%;
    text-align: center;

    &__list {
        @include list-reset;

        display: flex;
        justify-content: space-around;
        // align-items: center;

        @include tablet-768 {
            flex-direction: column;
        }
    }

    &__item {
        padding: 8%;

        @include tablet-768 {
            padding: 6%;
            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__svg {
        opacity: 0.6;
        width: 50px;
        height: 40px;

        fill: rgba(228, 235, 238, 0.6);
        transition: all 0.6s ease;

        &:hover {
            opacity: 1;
            box-shadow: $box-shadow;
        }

        @include laptopS-1024 {
            width: 30px;
            height: 30px;
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    &__list {
        @include list-reset;
    }

    &__item {
        line-height: 1.5;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        @include font-style(calc(0.5vw + 10px), 400);
        color: rgba(228, 235, 238, 0.6);
        transition: all 0.6s ease;
        &:hover {
            color: rgba(228, 235, 238, 1);
            text-shadow: $text-shadow;
        }

        @include mobile-468 {
            margin-bottom: 20px;
            font-size: calc(1.5vw + 10px);
        }
    }
}

.footer__small {
    margin: 20vh 0 0;
    z-index: 3;
    text-align: center;
    display: flex;
    position: relative;

    justify-content: center;
    flex-direction: column;

    .footer__name {
        color: $manz;
        @include gradient-text;
        @include font-style(calc(1.5vw + 10px), 500);

        margin-bottom: 2%;
    }

    .footer__age {
        @include font-style(calc(1vw + 10px), 500);
    }
}
