.header {
    position: fixed;

    z-index: 13;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.6s ease;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        opacity: 1;
        transform: translate3d(0, 0vh, 0);
        transition: all 0.6s ease;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 3vh 0;

        @include tablet-768 {
            padding: 14px 0;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__link {
        transition: $cubic-bizie;
        transform: translate3d(0, 0vh, 0);
    }
}

.phone {
    @include outline-none;

    &__span {
        font-weight: 700;
        color: $yellowgreen;
        @include gradient-text;

        @include tablet-768 {
            font-size: 0px;
            position: absolute;
        }
    }

    &__number {
        font-weight: 500;
        font-size: calc(0.3vw + 10px);
        padding: 5px;

        &:hover,
        &:focus {
            color: $yellowgreen;
            transition: all 0.6s ease;
        }

        @include tablet-768 {
            position: absolute;
            font-size: 0px;
        }
    }

    &__svg {
        display: none;

        width: 40px;
        height: 40px;
        padding: 5px;

        fill: $yellowgreen;
        transition: all 0.6s ease;

        &:hover,
        &:focus,
        &:active {
            fill: $manz;
            transition: all 0.6s ease;
        }
        @include tablet-768 {
            display: block;
            transition: all 0.6s ease;
        }
    }
}

.burger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    z-index: 14;

    border: none;
    background-color: transparent;
    @include outline-none;

    transition: $cubic-bizie;
    transform: translate3d(0vh, 0, 0);

    &__text {
        font-weight: 700;
        font-size: calc(0.3vw + 10px);
        margin-right: 5%;

        transition: $cubic-bizie;

        @include tablet-768 {
            display: none;
        }
    }

    &__line {
        width: 32px;
        height: 20px;

        margin: 5px;
        transform: translateY(2px);

        .line {
            position: absolute;
            width: 100%;
            height: 3px;
            right: 0;
            opacity: 1;

            background: #a7c939;
            border-radius: 2px;
            transition: all 0.6s ease;

            &:nth-child(1) {
                top: 0;
                width: 80%;
                background: linear-gradient(#a7c939, #b2cc34);
            }

            &:nth-child(2) {
                top: 7px;
                background: linear-gradient(#b2cc34, #ccd628);
            }

            &:nth-child(3) {
                top: 14px;
                width: 60%;
                background: linear-gradient(#ccd628, #d7d922);
            }
        }
    }

    &:hover,
    &:focus {
        .line {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
}

.header__arrows {
    @include outline-none;
    padding: 15px;
    border-radius: 50px;

    transition: $cubic-bizie;

    .header__logo {
        display: block;
        width: 30px;
        height: 30px;

        border-bottom: 6px solid $yellowgreen;
        border-right: 6px solid $yellowgreen;
        border-image: $gradient-yellowGreen;
        border-image-slice: 1;

        transform: translate3d(0, -1vh, 0) rotate(45deg);
        border-radius: 3px;

        transition: all 0.6s ease;

        @include tablet-768 {
            width: 20px;
            height: 20px;
            border-bottom: 4px solid $yellowgreen;
            border-right: 4px solid$yellowgreen;
        }
    }

    @include mobile-468 {
        display: none;
    }

    &:hover {
        transform: translate3d(0, 1vh, 0);
        box-shadow: 0px 1px 1px $manz;
        transition: all 0.6s ease;

        .header__logo {
            transform: translate3d(0, 0vh, 0) rotate(45deg);
        }
    }
}

.hide {
    &::before {
        opacity: 0;
        transform: translate3d(0, -15vh, 0);
    }

    .phone,
    .header__arrows {
        transform: translate3d(0, -15vh, 0);
    }

    .burger {
        transform: translate3d(11vw, 0, 0);

        @include mobile-468 {
            transform: translate3d(3vw, 0, 0);
        }

        &__text {
            font-size: 0px;
            opacity: 0;
        }
    }
}
