.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 14px 0;
    }

    &__logo {
        width: 5%;
    }

    &__burger {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    .btn-menu {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            content: "";
            top: -12px;
        }

        &::after {
            content: "";
            top: 12px;
            width: 20px;
        }
    }

    .btn-menu,
    .btn-menu::after,
    .btn-menu::before {
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #9acd32;

        transition: 0.4s;
    }

    &__menu {
        font-weight: 700;
    }

    .first-element {
        font-weight: 700;
        color: #ff0000;
    }
}
