.intro {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;

    padding: 20% 0 10vh;
    min-height: 850px;

    @include laptopS-1024 {
        padding: 20vh 0 10vh;
        min-height: 550px;
    }

    &__content {
        position: relative;
        z-index: 3;
        width: 50%;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 90px;
    }

    &__title {
        margin: 0;
        margin-left: 7%;
        margin-bottom: 150px;

        line-height: 0.5;
        @include font-style(calc(6vw + 10px), 700);
        color: transparent;
        -webkit-text-stroke: 1px #e4ebee;

        @include laptopS-1024 {
            margin-bottom: 15vh;
        }
    }

    .intro__span {
        margin: 0;
        color: $white;
        font-family: "Montserrat-Alter";
        @include font-style(calc(0.6vw + 10px), 400);
    }

    &__background {
        width: 140%;
        background: $intro-gradient;

        @include laptopM-1440 {
            width: 150%;
        }
    }

    &__user {
        z-index: 1;
        position: absolute;
        bottom: 1%;
        right: 15vh;
        transition: all 0.6s ease;

        @include laptopM-1440 {
            right: 0;
        }
        @include laptopM-1200 {
            right: -10%;
        }
    }
}

.intro__overlay {
    background: $intro-gradient-overlay;
}
