.intro {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    padding: 300px 0 150px;

    @include laptopM-1200 {
        padding: 350px 0 150px;
    }

    @include laptopS-1024 {
        padding: 200px 0 80px;
    }

    @include mobile-468 {
        padding: 110px 0 50px;

        &__image {
            display: none;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        width: 50%;

        @include tablet-768 {
            width: 70%;
        }

        @include mobile-468 {
            width: 100%;
        }
    }

    &__subtitle {
        font-size: calc(1vw + 8px);
        font-weight: 400;
        margin: 0;
        margin-bottom: 10%;

        &--animation {
            animation: subtitle 2s cubic-bezier(0.645, 0.045, 0.355, 1);
            animation-duration: 2s;
        }

        @include tablet-768 {
            font-size: calc(2vw + 10px);
            margin-bottom: 5%;
        }
    }

    &__title {
        position: relative;
        margin: 0;
        // margin-left: 7%;
        margin-bottom: 8%;

        line-height: 0;
        @include font-style(calc(6vw + 10px), 700);

        &--animation {
            animation: text 2s cubic-bezier(0.645, 0.045, 0.355, 1);
            animation-duration: 2s;
        }

        @include laptopS-1024 {
            // margin-bottom: 25%;
            line-height: 0.5;
        }

        @include mobile-468 {
            font-size: 40px;
            margin-left: 0;
        }
    }

    &__container-btn {
        animation: btn 2s cubic-bezier(0.645, 0.045, 0.355, 1);
        animation-duration: 2s;
    }

    .intro__span--name {
        position: relative;
        line-height: 1.2;
        margin-right: 10%;

        color: transparent;
        -webkit-text-stroke: 1px #e4ebee;

        &::before {
            @include text-before(#e4ebee);

            animation: anim-text 1s ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 1s;

            @include mobile-468 {
                color: #e4ebee;
                animation: none;
            }
        }

        @include mobile-468 {
            margin-left: 10%;
            margin-right: 50%;
        }
    }

    .itro__span--surname {
        position: relative;
        line-height: 1.8;
        margin-left: 45%;
        color: #e4ebee;
        -webkit-text-stroke: 1px #e4ebee;

        &::before {
            line-height: 1.23;
            @include text-before($nero);
            animation: anim-text 1s alternate;
            animation-fill-mode: forwards;
            animation-delay: 1.2s;

            @include mobile-468 {
                animation: none;
            }
        }

        @include mobile-468 {
            top: -110px;
            left: 10%;
        }
    }

    .intro__span {
        margin: 0;

        color: $white;
        font-family: "Montserrat-Alter";
        @include font-style(calc(0.6vw + 10px), 400);

        @include laptopS-1024 {
            margin-left: 10%;
        }

        @include mobile-468 {
            font-size: 16px;
            @include gradient-text;
            line-height: 0.8;
        }
    }

    &__background {
        width: 160%;
        height: 100%;
        background: $intro-gradient2;

        @include laptopM-1440 {
            width: 150%;
        }

        .color-green,
        .color-yellow,
        .color-pink {
            z-index: -1;
            position: absolute;
            filter: blur(100px);
            transition: all 0.6s ease;
            animation: intro-color 3s cubic-bezier(0.645, 0.045, 0.355, 1);
            animation-duration: 3s;

            @include mobile-468 {
                display: none;
            }
        }

        .color-green {
            top: 25%;
            left: 38%;

            width: 600px;
            height: 400px;

            background: linear-gradient(45deg, $manz, $yellowgreen);
            // animation-delay: 2s;
            @include tablet-768 {
                left: 50%;
            }
        }
        .color-yellow {
            bottom: 0px;
            left: 34%;

            width: 600px;
            height: 400px;

            background: #cce3f1;
            @include tablet-768 {
                left: 50%;
                bottom: -12%;
            }
        }
        .color-pink {
            bottom: 5%;
            left: 55%;

            width: 300px;
            height: 300px;

            background: $manz;
            @include tablet-768 {
                left: 60%;
                bottom: -12%;
            }
        }
    }

    &__user {
        z-index: 1;
        position: absolute;

        bottom: 1%;
        right: 2%;

        &--animation {
            transition: all 0.6s ease;
            animation: intro-image 2s cubic-bezier(0.645, 0.045, 0.355, 1);
            animation-duration: 2s;
        }

        @include laptopM-1440 {
            right: -2vh;
        }

        @include laptopM-1200 {
            right: -10%;
        }

        @include laptopS-1024 {
            right: -20%;
        }

        @include tablet-768 {
            right: -30%;
        }

        @include mobile-468 {
            right: -50%;
        }
    }
}

.intro__overlay {
    background: $intro-gradient-overlay;
}
