.main {
    // display: flex;
    // flex: 1 0 auto;
    transition: all 0.6s ease;
}

.title {
    margin: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out 0s, transform 0.8s ease-in-out 0s;
    @include font-style(calc(1vw + 16px), 700);

    @include tablet-768 {
        font-size: calc(2vw + 16px);
    }

    &--line {
        @include title-before;
    }
}

.subtitle {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out 0s, transform 0.8s ease-in-out 0s;
    @include font-style(calc(1vw + 8px), 400);

    @include tablet-768 {
        font-size: calc(1.6vw + 10px);
    }
}
