.portfolio {
    display: flex;
    flex-wrap: wrap;
    background-color: $nero;
    padding: 120px 0;
    position: relative;
}

.portfolio__big-title {
    position: absolute;
    top: 0;
    // top: 1vh;
    left: 0;
    width: 100%;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 18vw;
    color: rgb(255, 255, 255);

    line-height: 1;
    white-space: nowrap;

    pointer-events: none;
    opacity: 0.03;

    overflow: hidden;

    @include tablet-768 {
        top: 22vh;
        opacity: 0.02;
    }
}

.portfolio__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: calc(1vw + 16px);
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: start;

    &:before {
        content: "";
        width: 40px;
        height: 3px;
        background: #fff;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
    }
}

.portfolio__subtitle {
    font-size: calc(1vw + 8px);
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: start;

    margin-bottom: 50px;

    @include tablet-768 {
        font-size: calc(1vw + 12px);
    }
}
.portfolio__wrap {
    position: relative;
    width: 100%;
}
.portfolio__slider {
    margin: 20px 0;
}

.portfolio__more {
    position: relative;
    text-align: start;
    margin-top: -2%;

    @include tablet-768 {
        margin-top: 15%;
        text-align: center;
    }
}

.portfolio__caption {
    color: rgba(255, 255, 255, 0.753);
    font-weight: 900;
    font-size: calc(1vw + 12px);
    line-height: 1.3;

    margin: 0;
    margin-bottom: 50px;

    width: 50%;

    @include tablet-768 {
        font-weight: 700;
        line-height: 1.5;
        width: 100%;
    }
}

.more-link {
    &--color {
        border-color: #9acd32;

        &:before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;

            background: $button-gradient;
            border-radius: 40px;

            opacity: 0;
            transition: all 0.6s ease;
        }

        &:hover {
            background: yellowgreen;

            &:before {
                opacity: 1;
            }
        }
        @include btn-after;
    }

    .span {
        position: relative;
        z-index: 1;
    }
}
