.skills {
    position: relative;
    padding: 25vh 0 25vh;
    overflow: hidden;

    &__big-title {
        z-index: 4;
        top: -2%;
    }

    &__title {
        margin: 0;
        margin-bottom: 50px;
    }

    &__column {
        margin-bottom: 100px;
    }
}

.column {
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;

    &__title {
        @include font-style(calc(1vw + 10px), 400);
        margin-bottom: 80px;
    }

    &__group {
        margin-right: 20%;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        color: $yellowgreen;
        margin-bottom: 20px;

        &:nth-child(2n) {
            color: $manz;
        }
    }

    &__span {
        color: $white;
    }
}

.bg-image {
    @include position-absolute;
    z-index: -1;
    background: url("img/skills/bg.jpg") no-repeat;
    background-position: 70% 120%;

    &__background {
        position: absolute;
        top: 40%;
        left: 0;
        bottom: 0%;
        right: 0%;

        width: 120%;
        height: 100%;

        z-index: 1;
        background: $skills-gradient;
    }
}

.skills__overlay {
    z-index: -1;
    background: $skills-gradient-overlay;
}
