.underway {
    @include position-relative;

    &--padding {
        padding: 250px 0 200px;

        @include laptopS-1024 {
            padding: 250px 0 100px;
        }

        @include tablet-768 {
            padding: 150px 0 50px;
        }

        @include mobile-468 {
            padding: 150px 0 0;
        }
    }

    &__background {
        background: url("img/image/under.jpg") no-repeat center/cover;
    }

    &__overlay {
        background: linear-gradient(hsla(0, 0%, 23%, 0.6) 0%, hsla(0, 0%, 18%, 1) 90%);
    }

    &__title {
        margin-bottom: 30px;
    }
}
