.description {
    z-index: 2;
    position: relative;
    padding: 10vh 0 30vh;

    width: 100%;

    @include laptopM-1440 {
        padding: 10vh 0 20vh;
    }

    @include tablet-768 {
        flex-direction: column;
        align-items: center;
        padding: 5vh 0 5vh;
    }

    &--flex {
        display: flex;
        justify-content: space-between;
    }

    &--thesis {
        background: $razzmatazz;
    }

    &--cyber {
        background: linear-gradient(to bottom, #063638b7 45%, #289296 90%);
        padding-bottom: 15vh;
    }

    &__title {
        margin-bottom: 12vh;
    }

    &__big-title {
        top: -10%;

        @include laptopS-1024 {
            font-size: calc(10vw + 10px);
        }

        @include tablet-768 {
            top: 0;
        }
    }

    &__image {
        position: relative;
        width: 40%;

        @include tablet-768 {
            width: 100%;
        }
    }

    .img {
        @include position-absolute;
        top: 10%;

        @include laptopM-1440 {
            top: 15%;
        }

        @include tablet-768 {
            position: relative;
            padding: 8% 0;
        }

        &--cyber {
            left: 15%;
        }
    }

    &__content {
        z-index: 13;
    }

    .content {
        width: 52%;
        padding: 1% 10% 1% 5%;
        color: #fff;

        @include tablet-768 {
            width: 100%;
            padding: 5% 12%;
        }

        @include mobile-468 {
            padding: 0 10%;
        }

        &__title {
            margin-bottom: 30px;
            @include tablet-768 {
                margin-bottom: 20px;
            }
        }

        &__subtitle {
            margin: 0;
            margin-bottom: 50px;
            line-height: 1.5;
            @include tablet-768 {
                margin-bottom: 30px;
            }
        }

        &__list {
            padding: 0;
            padding: 2%;
            line-height: 1.5;
            margin-bottom: 50px;

            @include laptopS-1024 {
                margin-bottom: 30px;
            }

            @include tablet-768 {
                padding: 5%;
            }

            @include mobile-468 {
                padding: 1%;
            }
        }

        &__btn-link {
            padding: 16px 60px;

            &:hover {
                padding-right: 75px;
            }

            @include tablet-768 {
                padding: 16px 50px;

                &:hover {
                    padding-right: 65px;
                }
            }
        }
    }
}

.list-content {
    &--style {
        list-style: none;
    }
    &__items {
        margin-bottom: 10%;

        @include tablet-768 {
            margin-bottom: 5%;
        }

        &::marker {
            color: $manz;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 2%;
        @include font-style(calc(0.5vw + 10px), 700);

        @include tablet-768 {
            @include font-style(calc(1vw + 10px), 700);
        }
    }

    &__item {
        &::marker {
            color: $yellowgreen;
        }

        @include tablet-768 {
            @include font-style(calc(0.8vw + 10px), 400);
        }
    }
}

.bg {
    z-index: 10;
    position: absolute;

    &--cyber {
        background: url("img/cyber/bg.png") no-repeat center;
        background-size: 90%;
        bottom: -10%;
        right: 5%;
        width: 35%;
        height: 450px;
    }

    &--thesis {
        background: url("img/thesis/oval.png") no-repeat center;
        background-size: 90%;
        bottom: -10%;
        right: 5%;
        width: 30%;
        height: 450px;

        @include laptopM-1440 {
            bottom: -35%;
        }

        @include tablet-768 {
            bottom: -15%;
        }

        @include mobile-468 {
            bottom: -25%;
        }
    }
}
.img-boll {
    background: url("img/thesis/oval.png") no-repeat center;
    background-size: 90%;
    bottom: -10%;
    right: 5%;
    width: 30%;
    height: 450px;

    @include laptopM-1440 {
        bottom: -35%;
    }

    @include tablet-768 {
        bottom: -15%;
    }

    @include mobile-468 {
        bottom: -25%;
    }
}
