.cyber {
    @include position-relative;

    &--padding {
        padding: 250px 0 150px;

        @include laptopS-1024 {
            padding: 250px 0 100px;
        }

        @include tablet-768 {
            padding: 150px 0 50px;
        }

        @include mobile-468 {
            padding: 150px 0 0;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url("img/cyber/intro.jpg") no-repeat center/cover;
    }

    &__overlay {
        background: linear-gradient(to top, #063638da 45%, #2892961e 100%);
    }

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 50px;
        padding: 0 5%;

        @include tablet-768 {
            margin-bottom: 30px;
        }
    }
}
